clientes/clientes.dtd

<?xml version='1.0' encoding='UTF-8'?>
<!ELEMENT clientes (sede*)>
<!ELEMENT sede (nombreempleado|fecha|descripcion|cliente)*>
<!ATTLIST sede codigo CDATA #REQUIRED>
<!ELEMENT nombreempleado (#PCDATA)>
<!ELEMENT fecha (#PCDATA)>
<!ELEMENT descripcion (#PCDATA)>
<!ELEMENT cliente (numviviendas|coste|resumen|plazo)*>
<!ATTLIST cliente codigo CDATA #REQUIRED>
<!ELEMENT numviviendas (#PCDATA)>
<!ELEMENT coste (#PCDATA)>
<!ELEMENT resumen (#PCDATA)>
<!ELEMENT plazo (#PCDATA)>



